.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 10rem;
	overflow: auto;
	box-shadow: 1px 9px 1.3125rem rgb(53 143 207 / 10%);
	z-index: 1000000;
	right: 0;
	border-radius: 10px;
}
.dropdown_content.right {
	left: 100%;
	right: auto;
}

.dropdown_content a {
	color: black;
	padding: 0.75rem 1rem;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.popup_content {
	position: absolute;
	min-width: 10rem;
	overflow: auto;
	z-index: 1000;
	right: 0;
	border-radius: 8px;
	border: 1px solid #eaecf0;
	background: #fff;
	box-shadow: 0 12px 16px -4px #10182814, 0 4px 6px -2px #10182808;
	/* position: absolute;
	min-width: 10rem;
	overflow: auto;
	z-index: 1000;
	right: 0;
	border-radius: 8px;
	border: 1px solid #eaecf0;
	background: #fff;
	box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03); */
}
.popup_content.right {
	left: 100%;
	right: auto;
}
.popup_content.left {
	right: 100%;
}
.popup_content.top {
	bottom: 100%;
	left: 0;
}
.popup_content.bottom-left {
	right: 50%;
	top: 100%;
}
.popup_content.bottom-right {
	left: calc(100% - 45px);
	top: 100%;
}
.dropbtn {
	cursor: pointer;
}
