.inputWrapper {
	display: flex;
	align-items: center;
	padding-left: 0;
}

.custom_option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 0.625rem;
	gap: var(--spacing-md, 0.5rem);
	min-height: 45px;
	margin: 0 0.375rem;
	border-radius: 0.375rem;
}

.custom_option:hover,
.custom_option.active {
	background-color: var(--bg-active);
}
.custom_option .activecheck {
	display: none;
}
.custom_option.active .activecheck {
	display: block;
	color: var(--fg-brand-primary);
	font-size: 1.25rem;
	margin-left: auto;
}
.popup_select_cont {
	min-width: fit-content;
}
