.tabs {
	display: flex;
	gap: var(--spacing-sm);
}
.tab_item {
	all: unset;
	outline: none !important;
	color: var(--text-quaternary, #667085);
	font-family: "semibold";
	font-style: normal;
	font-weight: 575;
	gap: var(--spacing-md);
	cursor: pointer;
	flex: 1;
	min-width: fit-content;
	text-align: center;
}
.tab_primary .tab_item,
.tab_secondary .tab_item,
.tab_tertiary .tab_item {
	border-radius: var(--radius-sm);
	padding: var(--spacing-md) var(--spacing-lg) var(--spacing-md) var(--spacing-lg);
}

.tab_primary .tab_item:hover,
.tab_primary .tab_item.active {
	background: var(--bg-brand-primary_alt, #fff6ef);
	color: var(--text-brand-secondary, #f96c00);
	transition: background ease-in-out 0.5s;
}

.tab_secondary .tab_item:hover,
.tab_secondary .tab_item.active {
	background: var(--bg-active, #f9fafb);
	color: var(--text-secondary, #344054);
	transition: background ease-in-out 0.5s;
}
.tabs.tab_tertiary {
	padding: var(--spacing-sm);
	gap: var(--spacing-sm);
	border-radius: var(--radius-lg, 10px);
	opacity: 0px;
	background: var(--bg-secondary_alt, #f9fafb);
	border: 1px solid var(--border-secondary, #eaecf0);
}
.tab_tertiary .tab_item:hover,
.tab_tertiary .tab_item.active {
	background: var(--bg-primary_alt, #ffffff);
	box-shadow: 0px 1px 2px 0px #1018280f;
	box-shadow: 0px 1px 3px 0px #1018281a;
	color: var(--text-secondary, #344054);
	transition: background ease-in-out 0.5s;
}

.tabs.tab_underline,
.tabs.tab_underline-primary {
	gap: var(--spacing-md);
	opacity: 0px;
	border-bottom: 1px solid var(--border-secondary, #eaecf0);
}
.tabs.tab_underline .tab_item,
.tabs.tab_underline-primary .tab_item {
	padding: var(--spacing-lg);
	gap: var(--spacing-md);
	opacity: 0px;
}
.tab_underline .tab_item:hover,
.tab_underline .tab_item.active {
	opacity: 0px;
	border-bottom: 2px solid var(--brand-primary_alt, #f96c00);
	color: var(--text-brand-secondary, #f96c00);
	transition: background ease-in-out 0.5s;
}

.tab_underline-primary .tab_item:hover,
.tab_underline-primary .tab_item.active {
	opacity: 0px;
	border-bottom: 2px solid var(--brand-primary_alt, #f96c00);
	color: var(--text-brand-secondary, #f96c00);
	background: var(--bg-brand-primary_alt, #fff6ef);
	transition: background ease-in-out 0.5s;
}

/* ------------------ size ---------------------- */
.tabs.size_sm.tab_primary .tab_item,
.tabs.size_sm.tab_secondary .tab_item,
.tabs.size_sm.tab_tertiary .tab_item,
.tabs.size_sm.tab_underline .tab_item,
.tabs.size_sm.tab_underline-primary .tab_item {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.tabs.size_md.tab_primary .tab_item,
.tabs.size_md.tab_secondary .tab_item,
.tabs.size_md.tab_tertiary .tab_item,
.tabs.size_md.tab_underline .tab_item,
.tabs.size_md.tab_underline-primary .tab_item {
	font-size: 1rem;
	line-height: 1.5rem;
}
